# Dart
.dart_tool/
.packages
pubspec.lock

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.buildlog
.flutter/

# Build outputs
build/
out/

# Android
android/.gradle/
android/local.properties
android/app/build/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/

# MacOS
macos/Flutter/Flutter.framework

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# IDE files
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db